.dashboard {
    padding: 0;
    margin: 0;
  }
  
  .welcome-message {
    height: 100vh; 
    display: flex;
    flex-direction: column;
    justify-content: center; 
    align-items: center; 
    background-image: linear-gradient(135deg, #9f05ff69 10%, #fd5e086b 100%);
    color: white; 
    text-align: center; 
  }
  
  .welcome-message h1 {
    font-size: 3rem; 
    margin: 0; 
  }
  
  .button-container {
    margin-top: 20px; 
  }
  
  .action-button {
    border: none;
    border-radius: 5px;
    padding: 10px 20px; 
    margin: 10px; 
    background-color: white; 
    color: #333; 
    font-size: 1rem; 
    cursor: pointer; 
    transition: background-color 0.3s, transform 0.3s;
  }
  
  .action-button:hover {
    background-color: #f1f1f1; 
    transform: scale(1.05); 
  }
  
  .employee-list {
    padding: 20px;
    background-color: #ffffff; 
    color: #333; 
  }
  