html, body {
  margin: 0; /* Remove default margin */
  padding: 0; /* Remove default padding */
  width: 100%; /* Full width */
  height: 100%; /* Full height */
}

#root {
  width: 100%; /* Make sure the root div takes full width */
  height: 100%; /* Make sure the root div takes full height */
}

* {
  box-sizing: border-box; /* Ensure padding and borders don't affect width */
}
